{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="{% static 'main/money.svg' %}" alt="App logo" width="30" height="24" class="d-inline-block align-text-top me-2">
            Do you want your receipt?
        </a>
        <a href="https://github.com/qloridant/shop_prices_comparaison" target="_blank" class="d-flex align-items-center me-3">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="30" height="30" class="d-inline-blockp">
        </a>
    </div>
</nav>