<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Price Summary</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>
    <div class="basic">
        {% include "main/header.html" %}    
    </div>

    <div class="container mt-5">
        <h2>Enter OSM shop id to vizualize price comparaison summary</h2>

        <!-- Form for entering shop ID -->
        <form action="" method="get" class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Shop n°1</label>
                <input class="form-control" name="osm_id_shop_1" placeholder="OSM ID">
            </div>
            <div class="col-md-6">
                <label class="form-label">Shop n°2</label>
                <input class="form-control" name="osm_id_shop_2" placeholder="OSM ID">
            </div>
            <div class="col-md-12">
                <label class="form-label">Product</label>
                <input class="form-control" name="product_barcode" placeholder="Product barcode">
            </div>
            <div class="col-12">
                <button type="submit" class="w-100 btn btn-primary">Compare prices !</button>
            </div>
            </form>
        </form>

        {% if price_summaries %}
        <h4 class="mt-4">Price Summary: </h4>
        <table class="table table-hover mt-4">
            <thead>
                <!-- Header row for Shop Names -->
                <tr>
                    <th>Product</th>
                    {% for summary in price_summaries %}
                        <th>{{ summary.shop_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- Row for Prices -->
                <tr>
                    <th> {{ product_name }}</th>
                    {% for summary in price_summaries %}
                        <td>{{ summary.price }} €</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    
    {% elif shop_id %}
        <p class="text-danger mt-4">No shop found with the provided ID. Please try again.</p>
    {% endif %}
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
